<div class="footer text-center" th:fragment="footer">
  <p> Isobar Boston Hackathon 2018 </p>
  <!-- javascripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
  </script>
</div>