<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout}" >
  <body>
	<div id="page" layout:fragment="content">
		<div>
			<form action="#" th:action="@{/lookup}" th:object="${lookupForm}" method="post">
				<div th:if="${#fields.hasErrors('*')}"
				     class="alert alert-error">
					<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					    Validation error
					</p>
				</div>
				<label for="zipcode">Zip Code: </label>
				<input type="text" th:field="*{zipcode}" th:class="${#fields.hasErrors('zipcode')} ? 'field-error'" th:value="*{zipcode}"/>
				<button type="submit" name="submit">Lookup</button>
			</form>
		</div>
	</div>
  </body>
</html>
